
@media only screen and (max-width: 1239px) and (min-width: 960px){
  .p02{
    .subHeader{
      h1{
        &:before{
          width: 40px;
        }
      }
    }
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px){
  .p02{
    .subHeader{
      h1{
        &:before{
          width: 50px;
          height: 3px;
        }
      }
    }
  }
}
@media only screen and (max-width:767px){
  .p02{
      .subHeader{
          h1{
              &:before{
                width: 27px;
                height: 3px;
              }
          }
      }
  }
}