#Footer {
    background-color: #f4f4f4 !important;
    .footer-wrapper{
        padding: 70px 0;
    }
    .footer_copy {
      border-top: 1px solid rgba(0, 0, 0, .1);
      .copyright {
        font-size: 15px;
      }
    }
    .container .column{
        margin-bottom: 0;
    }
    .column  ul {
      padding: 15px 0;
    }
    .column ul li{
      margin-bottom: 10px;
    }
    .column ul li span{
        margin-right: 10px;
        color: $green;
        font-size: 18px;
    }
    .column ul li a{
        color: $gray;
        font-size: 16px;
    }
    .column:last-child{
        padding: 15px 0;
    }
    .column:last-child {
      p {
        margin-bottom: 10px;
        font-size: 16px;
        a{
          color: $gray;
        }
      }
      h3{
        color: $green;
        font-size: 25px;
        line-height: 35px;
        font-weight: 400;
      }
    }
    .column:last-child p:nth-child(2){
        font-size: 19px;
        line-height: 29px;
        font-weight: 400;
    }
}
@media only screen and (max-width: 1240px) and (min-width: 960px){
    #Footer .column:last-child h3{
        font-size: 22px;
    }
}
@media only screen and (max-width: 959px) and (min-width: 768px){
    .container{
        max-width: 708px;
    }
    #Footer .column ul li span,
    #Footer .column ul li a,
    #Footer .column:last-child p{
        font-size: 13px;
    }
  #Footer .column:last-child p:nth-child(2){
      font-size: 15px;
  }
  #Footer .column:last-child h3{
      font-size: 21px;
      line-height: 30px;
  }
}
@media only screen and (max-width: 767px){
    #Footer .column ul li span,
    #Footer .column ul li a,
    #Footer .column:last-child p,
    #Footer .column:last-child p:nth-child(2){
        font-size: 13px;
    }
    #Footer .column:last-child h3{
        font-size: 19px;
        line-height: 26px;
    }
}